@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: 'Arial Rounded MT';
  src: url('group-1020627/my-app/public/arial_rounded/ArialRoundedMTBold.woff2') format('woff2'),
    url('group-1020627/my-app/public/arial_rounded/ArialRoundedMTBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ffc0ed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% de la hauteur de la vue (viewport height) */
  margin: 0;
}

.rectangle_violet {
  width: 875px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #cc89dd;
  background: #e9aaff;
  box-shadow: 0px 6px 89px 0px rgba(113, 52, 150, 0.38);
}

#todo {
  margin-left: 8rem;
}

.TodoList {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
  height: 90px;
  width: 100%;
  flex-shrink: 0;
  color: #fff;
  text-shadow: 0px 0px 15px rgba(75, 10, 115, 0.63);
  font-family: 'Nanum Pen Script';
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbaradd {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-right: 15px;
  width: 680px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d38aed;
  background: #fff;
  font-family: Arial;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.buttonadd {
  width: 144px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 10px;
  font-family: 'Arial Rounded MT', sans-serif;
  border: 1px solid #9200d7;
  background: #a23ddf;
  font-family: Arial;
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #fff;
}

.categories_prefaites {
  color: #c66fe5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  flex-shrink: 0;
  margin: 10px;
  padding-left: 5px;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 1rem;
  bottom: 25px;
}

.navbarupdate {
  width: 60%;
  border-color: #fff;
}

.task_block {
  position: relative;
  margin-top: 7px;
  margin-left: 15px;
  margin-bottom: 7px;
  margin-right: 15px;
  width: 839px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9200d7;
  background: #fff;
  box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around; /* Ajustez cette propriété selon votre besoin (space-between, center, etc.) */
  align-items: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.task_name {
  height: 19px;
  flex-shrink: 0;
  color: #4b0a73;
  font-family: Arial;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form .task_block {
  position: relative;
}

.checkbox {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1.8px solid #9200d7;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background 150ms ease;
  transition: background 150ms ease;
}

.boutons {
  margin-top: 5px;
  position: absolute;
  right: 10px;
  gap: 2rem;
  display: flex;
  margin-right: 1rem;
}

.buttonadd:hover,
.buttonadd.focus {
  animation: pulse 300ms;
  box-shadow: 0px 4px 10px 0px rgba(216, 98, 255, 0.85);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.checkbox:hover,
.checkbox.after {
  background: #ffa9f6;
  box-shadow: inset 0 0 0 2em var(--hover);
}
